.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 20px;
    padding: 3rem 2rem;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-left>img {
    width: 160px;
    padding: 32px 0px;
}
.card-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}
.card-heading{
    color: #6674CC;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}
.card-discription{
    color: gray;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.card:hover{
    transform: scale(1.02);
}
.card-btn>a{
    text-decoration: none;
    /* margin: 0px 20px; */
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}
.card-btn>a:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.card-btn>a:active{
    background-color: black;
}
.card-btn{
    margin-top: 10px;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media (max-width:450px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 91vw;
        padding: 4rem 4rem;
    }
    .card-right{
        margin: 0px 20px;
    }
    .right {
        position: relative;
        top: -54px;
        left: 7px;
    }
    .card-heading {
        font-size: 28px;
    }
}

@media screen and (min-width:450px) and (max-width:770px) {
    .card-heading {
        font-size: 32px
    }
    .card-discription{
        font-size: 26px;
    }
    .card-btn>a {
        padding: 18px 18px;
    }
    .card-btn{
        margin-top: 2rem;
    }
}