.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2;
}
.nav-right>ul {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
    margin-right: 77px;

}
.nav-right>ul>li{
    list-style: none;
    text-decoration: none;
}
.nav-right>ul>li>a{
    text-decoration: none;
    color: rgb(102, 116, 204);
    font-size: 20px;
    font-weight: 500;
}
.nav-left>img {
    width: 65px;
    margin-left: 60px;
}
.contect-btn {
    background-color: #007aff;
    border: none;
    padding: 10px 21px;
    font-size: 18px;
    color: white;
    position: relative;
    top: -8px;
    border-radius: 20px;
}
.scrolled{
    background-color: white;
    color: white;
  }

.logo-img{
    background-color: white;
    border-radius: 50%;
    transform: scale(0.8);
}
.scroll-nav-right{
    color: white;
}
.nav-item{
    color: white;
}