.nav{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid gray; */
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2;
    text-transform: uppercase;
}
.nav-right>ul {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
    margin-right: 77px;
}
.nav-right>ul>li{
    list-style: none;
    text-decoration: none;
}
.nav-right>ul>li>Link:hover{
    color: black;
    border-bottom: 2px solid black;
}
.nav-right>ul>li{
    text-decoration: none;
    color: rgb(102, 116, 204);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.ourlogo {
    width: 65px;
    margin-left: 60px;
}
.contect-btn {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    border: none;
    padding: 10px 21px;
    font-size: 18px;
    color: white;
    position: relative;
    top: -8px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
}
.contect-btn:hover{
    border: none;
}
.scrolled{
    background-color: white;
    color: white;
  }
.scroll-nav-right{
    color: white;
}
.nav-item{
    color: white;
}
.contect-btn:active{
    background-color: black;
    transform: scale(0.99);
}

  .contect-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media (max-width: 450px) {
    .nav-right>ul{
        display: none;
    }
}
 