.hero {
    display: flex;
    margin: 80px;
    margin-top: 10rem;
    padding: 2rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    /* background-image: url("https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/f068200b0c2e168d3d5f8dd7cddd575e.jpeg"); */
}
.hero-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 11rem;
    position: relative;
    left: 3rem;
}
.hero-left>span:nth-child(1) {
    font-size: 46px;
    font-weight: 600;
    color: rgb(102, 116, 204);
    font-family: sans-serif;
}
.hero-left>span:nth-child(2) {
    margin-top: 11px;
    font-size: 19px;
    font-weight: 500;
}
.right {
    position: relative;
    top: -77px;
    left: 70px;
}
.right>img{
    width: 400px;
    display: flex;
    animation-name: example;
    animation-duration: 12s;
    position: relative;
    top: 10px;
    z-index: 2;
}
.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  .web-intro{
    color: black;
  }
  .right>img{
    z-index: -1;
    max-width: 450px;
  }
  .explore-btn {
    text-decoration: none;
    background-color: rgb(102, 116, 204);
    display: inline-block;
    width: 204px;
    padding: 14px 39px;
    border-radius: 20px;
    font-size: 21px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}
  @keyframes example {
    /* 0%   {left:0px; top:0px;} */
    25%  {left:50px; top:0px;}
    50%  {left:50px; top:50px;}
    75%  {left:0px; top:50px;}
    100% {left:0px; top:0px;}
  }

         
  .btn-grad-intro {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    width: 300px;
    margin-top: 22px;
    position: relative;
    left: -10px;
}

  .btn-grad-intro:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    color: black;
  }

@media (max-width:770px) {
  .blur{
    display: none;
  }
}

@media (max-width:450px) {
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .hero-left{
    width: 100vw;
  }
  .hero-left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right>img{
    position: relative;
    left: -7rem;
    top: 4rem;
    transform: scale(0.7);
  }
}