.footer {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    padding: 64px 106px;
    color: white;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: auto;
}
img {
    width: 25px;
    margin-right: 6px;
}
.company-name{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.company-name>span>a:nth-child(1)>img {
    border-radius: 50%;
    width: 72px;
    background-color: white;
}
.company-name {
    display: flex;
    flex-direction: column;
    width: 261px;
    gap: 10px;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.products>span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.products>span:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.products>span:nth-child(2)>ul>li{
    list-style: none;
    margin-bottom: 5px;
    font-weight: 500;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links>span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.links>span:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: black;
    position: relative;
    left: 22px;
}
.links>span:nth-child(2)>ul>li>a{
    text-decoration: none;
    position: relative;
    bottom: 5px;
    color: black;
}
.links>span:nth-child(2)>ul>li>a:hover{
    color: white;
}
.links>span:nth-child(2)>ul>li {
    list-style: none;
    margin-top: 5px;
    position: relative;
    left: -21px;
}
.address{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
.address>span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

}
.address>span:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.address>span:nth-child(3):hover{
    color: black;
    cursor: pointer;
}
.address>span:nth-child(2):hover{
    color: black;
}
.address>span{
    color: white;
    font-weight: 500;
}

@media  (max-width: 450px){
    .footer{
        width: 100vw;
        gap: 20px;
    }
}

@media screen and (min-width:450px) and (max-width:770px) {
    .footer{
        margin: 0px 0px;
        width: 178vw;
    }
    .company-name>span:nth-child(2){
        font-size: 25px;
    }
    .products>span:nth-child(2)>ul>li {
        font-size: 25px;
    }
    .links>span:nth-child(2)>ul>li {
        font-size: 25px;
    }
    .address>span:nth-child(2) {
        font-size: 25px;
    }
    .address>span:nth-child(3) {
        font-size: 25px;
    }
    .address>span:nth-child(4) {
        font-size: 25px;
    }
    .products>span:nth-child(1){
        font-size: 30px;
    }
    .links>span:nth-child(1){
        font-size: 30px;
    }
    .address>span:nth-child(1) {
        font-size: 30px;
    }
}