.clients {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    width: 98.7vw;
    padding: 6rem 10rem;
    overflow-x: hidden;
    flex-wrap: wrap-reverse;
    background-image: linear-gradient(to top, #d9e9e8 0%, #cfbfda 100%);
}
.services-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services-img-client {
    width: 390px;
    position: relative;
    left: -1rem;
    border-radius: 19px;
    top: -2rem;
}
.services-left>span:nth-child(1){
    font-size: 40px;
    color: rgb(102, 116, 204);
    font-weight: 600;
}
.services-left>span:nth-child(2){
    font-size: 20px;
    color: gray;
    font-weight: 500;
}
.services-left>span:nth-child(3)>ul{
    font-size: 20px;
    color: gray;
    font-weight: 500;
    position: relative;
    left: 20px;
    color: rgb(102, 116, 204);
}
.services-left>span:nth-child(1):hover{
    color: black;
}
.review-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
@media (max-width:770px) {
    .review-card{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .clients{
        width: 100vw;
        gap: 4rem;
        padding: 3rem 2rem;
    }
    .services-left{
        width: 80vw;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .services-left>span:nth-child(1){
        font-size: 25px;
    }
    .services-left>span:nth-child(3)>ul{
        position: relative;
        left: -20px;
    }
    .review-card-new{
        position: relative;
        left: 4rem;
    }
    .review-card-new:hover{
        transform: scale(.8);
    }
}