.copyright{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    padding: 5px 0px;
    gap: 10px;
    flex-wrap: wrap;
}
.copyright>span:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.copyright>span:nth-child(2){
    font-size: 22px;
    font-weight: 500;
    color: rgb(102, 116, 204);
    cursor: pointer;
}
.copyright>span:nth-child(2)>a{
    text-decoration: none;
    position: relative;
    top: -2px;
}
.copyright>span:nth-child(2)>a:active{
    color: black;
}

@media (max-width: 450px) {
    .copyright{
        width: 100vw;
    }
}